li{
    display: inline;
}
@font-face{
    font-family: "DinCondensedRegular";
    src: url(DINWeb-Cond.ttf) format("truetype");
}
.firstline{
     font-size: 25px;
     background:rgba(80,187,232,1);
    text-align: right;
    margin-right: 0;
}
#logo{
    width: 100%;
}
a{
    color: white;
    font-family: "DinCondensedRegular";
    font-weight: bolder;
}
a:link, a:visited {
    background-color: rgba(80,187,232,1);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: skyblue;
    text-decoration: underline;
}
.donations{
    margin-top: -70px;
    text-align: right;
    margin-right: 220px;
}